* {
  outline: none;
}

.App {
  width: 100%;
  box-sizing: border-box;
  font-family: "Roboto";
}

.wrapper {
	background-color: #505050;
}

.nav-link {
	padding: .3rem 1rem;
}

.navbar {
  background-color: #505050;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
	border-color: #fff;
}

.navbar button span {
    color: #fff !important;
    font-size: 25px;
}

.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #8d8d8d;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #8d8d8d;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #8d8d8d; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #8d8d8d;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #505050;
  border-color: #505050;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #8d8d8d;
  background-color: #505050;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #505050;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #8d8d8d;
  background-color: #505050;
}

.nav-item {
	border-right: dotted 1px #fff;
}

.nav-item:last-child {
	border-right: none;
}

.navbar .navbar-toggle {
  border-color: #505050;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #505050;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #8d8d8d;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8d8d8d;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8d8d8d;
    background-color: #505050;
  }
  .nav-item {
	border-right: none;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8d8d8d;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8d8d8d;
    background-color: #505050;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8d8d8d;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8d8d8d;
    background-color: #505050;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #8d8d8d;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #8d8d8d;
    background-color: #505050;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #8d8d8d;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #8d8d8d;
  background-color: #505050;
}

.myColor {
	background-color: #3fc7db;
	border-color: #3fc7db;
	border-radius: 30px;
	color: #ffffff;
	font-size: 14px;
  font-weight: 400;
  line-height: 22.04px;
}

.myColor:hover {
  background-color: #3fc7db;
  border-color: #3fc7db;
  color: #fff;
}

.myColorWarning {
  background-color: #ffa14b;
  border-color: #ffa14b;
  border-radius: 30px;
  color: #ffffff;
}

.myColorWarning:hover {
  background-color: #ffa14b;
  border-color: #ffa14b;
  color: #ffffff;
}

